@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "minerva-modern";
  src: url("/fonts/minerva-modern-black.ttf") format("ttf"),
    url("/fonts/minerva-modern-blackitalic.ttf") format("ttf"),
    url("/fonts/minerva-modern-bold.ttf") format("ttf"),
    url("/fonts/minerva-modern-bolditalic.ttf") format("ttf"),
    url("/fonts/minerva-modern-italic.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
